html {
  overflow-y: hidden;
  overflow-x: hidden;
}

body, html, ul, input, li, div {
  margin:0;
  padding: 0;
  border: 0;
  background-repeat: no-repeat;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

}

ul,li {
  list-style-type: none;
}

html, body {
  overflow: hidden;
  height: 70px;
  white-space: nowrap;
}

body {
  height: 70px;
  width: 140px;
  background-color: #bbcbd5;
  border-radius: 2px;
  color: #2f373d;
  background-clip: content-box;
}

.row {
  height: 35px;
  white-space: nowrap;
}

.row div {
  width: 35px;
  height: 35px;
  background-position: center center;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.row div:hover {
  background-color: #4ca4e6;
}

#red {
  background-image:  url(skitch/images/color_red.png);
  background-size: 18px 18px;
}

#orange {
  background-image:  url(skitch/images/color_orange.png);
  background-size: 18px 18px;
}

#yellow {
  background-image:  url(skitch/images/color_yellow.png);
  background-size: 18px 18px;
}

#black {
  background-image:  url(skitch/images/color_black.png);
  background-size: 18px 18px;
}

#green {
  background-image:  url(skitch/images/color_green.png);
  background-size: 18px 18px;
}

#blue {
  background-image:  url(skitch/images/color_blue.png);
  background-size: 18px 18px;
}

#pink {
  background-image:  url(skitch/images/color_pink.png);
  background-size: 18px 18px;
}

#white {
  background-image:  url(skitch/images/color_white.png);
  background-size: 18px 18px;
}


@media (min--moz-device-pixel-ratio: 2),    /* Prior to Firefox 16 */
(min-resolution: 2dppx),             /* The standard way */
(min-resolution: 192dpi) {


  #red {
    background-image:  url(skitch/images/color_red@2x.png);
  }

  #orange {
    background-image:  url(skitch/images/color_orange@2x.png);
  }

  #yellow {
    background-image:  url(skitch/images/color_yellow@2x.png);
  }

  #black {
    background-image:  url(skitch/images/color_black@2x.png);
  }

  #green {
    background-image:  url(skitch/images/color_green@2x.png);
  }

  #blue {
    background-image:  url(skitch/images/color_blue@2x.png);
  }

  #pink {
    background-image:  url(skitch/images/color_pink@2x.png);
  }

  #white {
    background-image:  url(skitch/images/color_white@2x.png);
  }
}
