
@font-face {
  font-family: "Gotham Medium";
  src: url(fonts/GothamSSm-Medium.otf);
  font-weight: normal;
}

@font-face {
  font-family: "Gotham Bold";
  src: url(fonts/GothamSSm-Bold.otf);
  font-weight: normal;
}

@font-face {
  font-family: "Gotham Book";
  src: url(fonts/GothamSSm-Book.otf);
  font-weight: normal;
}

@font-face {
  font-family: "caecilia";
  font-style: normal;
  font-weight: normal;
  src:
  url("fonts/caecilialtstd-roman-webfont.woff") format("woff");
}

@font-face {
  font-family: "caecilia-bold";
  font-style: normal;
  font-weight: normal;
  src:
  url("fonts/caecilialtstd-bold-webfont.woff") format("woff");
}

@font-face {
  font-family: "caecilia-italic";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/caecilialtstd-italic-webfont.woff") format("woff");
}

@font-face {
  font-family: "caecilia-light";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/caecilialtstd-light-webfont.woff") format("woff");
}

@font-face {
  font-family: "caecilia-lightitalic";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/caecilialtstd-lightitalic-webfont.woff") format("woff");
}

@font-face {
  font-family: "caecilia-bolditalic";
  font-style: normal;
  font-weight: normal;
  src: url("fonts/caecilialtstd-bolditalic-webfont.woff") format("woff");
}
